head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=Edge")
    title This Site
    link(rel="preconnect" href="https://fonts.googleapis.com")
    link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap" rel="stylesheet")
    link(rel='shortcut icon', href="img/favicon.ico", type="image/x-icon")
    link(rel='stylesheet', href='css/style.css')
    meta(name="viewport", content="width=device-width, initial-scale=1, user-scalable=0")
    meta(name="format-detection", content="telephone=no")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js")
    