mixin footer(modifier)
  footer.footer&attributes(attributes)
    .footer__content 
      .footer__inner 
        .footer__autor 
          p.footer__years © 2012 – 2020 
          p.footer__name ООО «Название компании»
        .footer__protect 
          img(src="img/comodo.png" alt="Лого защиты").footer__img