mixin partners(modifier)
  section.partners&attributes(attributes)
    .partners__content 
      h2.partners__title С нами работают
      .partners__box 
        .partners__company 
          img(src="img/logo-part1.svg" alt="Лого партнеров").partners__img
          p.partners__name Партнёр 1
        .partners__company 
          img(src="img/logo-part2.svg" alt="Лого партнеров").partners__img
          p.partners__name Компания-партнер с длинным названием 
        .partners__company 
          img(src="img/logo-part3.svg" alt="Лого партнеров").partners__img
          p.partners__name Партнёр 3
        .partners__company 
          img(src="img/logo-part4.svg" alt="Лого партнеров").partners__img
          p.partners__name Название партнёра 4
        .partners__company 
          img(src="img/logo-part5.svg" alt="Лого партнеров").partners__img
          p.partners__name Компания-партнёра 5
        .partners__company 
          img(src="img/logo-part6.svg" alt="Лого партнеров").partners__img
          p.partners__name Партнер 6 с длинным названием